*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 70px;
    font-family:  -apple-system, BlinkMacSystemFont,"Segoe UI","Noto Sans",Arial, Helvetica, "Apple Color Emoji","Segoe UI Emoji";
}
header{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content:space-between ;
    align-items: center;
}
header div img{
    height: 40px;
}
header nav a{
    margin-right: 50px;
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: larger;
    font-weight: 460;
}
header nav a:first-child{
    font-weight: 500;
}

header nav span{
    display: inline-block;
    position: absolute;
    height: 2.5px;
    width: 35px;
    background-color: black;
    left: 455px;
    top: 123px;
}
header div button{
    margin-left: 9px;
    margin-right: 30px;
    height: 35px;
    width: 140px;
    font-size: larger;
    border: 2px solid black;
    border-radius: 13px;
    background-color: #ffffff;
    cursor: pointer;
    opacity: 0.8;
}
main {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
main section.img{
    width: 35%;
} 
main section.content{
    width: 65%;
}
main .img .person{
    height: 450px;
    position: absolute;
    top: 215px;
}
main .img .squres{
    height: 250px;
    position: absolute;
    top:455px;
    left: 227px;
    z-index: -1;
}
main .content .div1{
    position: relative;
    height: 80px;
    width: 100%;
}
.img1{
    position: absolute;
    top: 0px;
    left: 150px;
}
.img2{
    position: absolute;
    top:50px ;
    right: 30px;
}
.div2 h1{
    font-size: 80px;
    margin-bottom: 25px;
    margin-top: 30px;
}
.div2 p{
    text-align: center;
}
.btn{
    width: 100%;
}
.btn1{
    border: 2px solid black;
    height: 30px;
    width: 190px;
    font-size: larger;
    background-color:#ffffff;
    border-radius: 10px;
    opacity: 0.8;
    position: relative;
    left: 220px;
    cursor: pointer;
}
.btn2{
    border:none;
    background-color: #000000;
    color: #ffffff;
    height: 30px;
    width: 120px;
    font-size: larger;
    position: relative;
    left: 250px;
    border-radius: 10px;
    cursor: pointer;
}
footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    width: 100%;
}
footer div h3{
    text-align: center;
    font-size: medium;
    font-weight: 500;
    opacity: 0.8;
}
footer div img{
    margin-right: 15px;
    cursor: pointer;
}
footer .img1{
    position: absolute;
    left: 45px;
    top: 10px;
}